$accordion-header-bg-color: lightslategray;
$accordion-header-bg-hover-color: darken($accordion-header-bg-color, 20%);
$accordion-header-color: #dedede;
$accordion-panel-bg-color: lighten($accordion-header-bg-color, 20%);

.aw-accordion {
    .section {
        .section-header {
            cursor: pointer;
            display: inline-block;
            width: 100%;
            background: $accordion-header-bg-color;
            transition: background-color 0.3s;
            color: $accordion-header-color;
            padding: 1rem;

            &:hover {
                background: $accordion-header-bg-hover-color;
            };
        };

        .section-panel-container {
            overflow: hidden;

            .section-panel {
                overflow: hidden;
                transform: translateY(0);
                background: $accordion-panel-bg-color;
                padding: 1rem;
            };
        };

        &.closed {
            .section-panel {
                transform: translateY(-100%);
            };
        };
    };
};